.header {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px;
    grid-template-areas: 
        "n _ _ _ _ _ _ a s e p c";
}

 .myName {
    grid-area: n;
    width: 200px;
}

.navAbout {
    grid-area: a;
}

.navServices {
    grid-area: s;
}

.navExperience {
    grid-area: e;
}

.navPortfolio {
    grid-area: p;
}

.navContact {
    grid-area: c;
}

