body {
  background-image: url("../images/trees.png");
  margin: 0px;
}

.Header {
  background-color: #fff;
  position: relative;
  height: 90px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0px 0px 2px 0px;
}

.Name {
  color: #fff;
  background: #4aaaa5;
  padding: 10px;
  margin-left: 10%;
  width:300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: left;
}

.Nav {
  float: left;
  margin-left: 65%;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 30px;
  clear: right;
}

.About {
  padding: 0px 5px 0px 5px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0px 1px 0px 0px;
  height: 8px;
  width: 15px;
}

.Portfolio {
  padding: 0px 5px 0px 0px;
  border-style: solid;  
  border-color: #ddd;
  border-width: 0px 1px 0px 0px;
  height: 8px;
  width: 15px;
}

a:link {
  color: #ddd;
  text-decoration: none;
}

a:visited {
  color: #ddd;
  text-decoration: none;
}

a:hover {
  color:#4aaaa5;
  text-decoration: none;
}

a:active {
 color:#4aaaa5;
 text-decoration: none;
}

.ContentDiv {
  clear:both;
}

.AboutMeSection {
  width: 610px;
  height: 350px;
  margin-left: 50px;
  float: left;
  border-style: solid;
  border-color: #ddd;
  border-width:  2px;
  margin-bottom: 50px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.AboutMeTitle {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #ddd;
  padding: 10px 0px 10px 0px;
}

.AboutMeImage {
  float: left;
  padding: 0px 10px;
}

.AboutMeText {
  float: left;
}

.SideBar {
  width: 270px;
  height: 200px;
  margin-left: 30px;
  float: left;
  border-style: solid;
  border-color: #ddd;
  border-width: 2px;
  padding: 0px 20px 20px 20px;
  background-color: #fff;
}

.ConnectTitle {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #ddd;
  padding: 10px 0px 10px 0px;
}

.PortfolioSection {
  width: 650px;
  height: 650px;
}